
/home/pablorr24/snake_folder/scripts/test_scripts
/home/pablorr24/snake_folder/rules/short_reads/unused
/home/pablorr24/snake_folder/rules/post_analysis/unused
/home/pablorr24/snake_folder/rules/long_reads/unused_rules
